---
---

// @media (min-width: 40rem)	
// .header {
//     padding-top: 5rem;
// }
body {
	background: #f4f5f6;
	color:  rgb(20,20,20);
}

.header {
    background-color: rgb(20,20,20);
    padding-top: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);  
  	 
    .title {
        text-decoration: underline;
    }
  	a {
  		color: white;
        span {
            border: 1px solid #19F6E8;
            padding: 2vh 5vw;
            margin-bottom: 2vh
        }
  	}

    p {
        color: white;
    }
}

.header .container {
    border-top: 0;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    position: relative;
    text-align: center;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrapper>.container {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.wrapper .container {
    max-width: 80rem;
}

.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.navigation .navigation-list {
    list-style: none;
    margin-bottom: 0;
    text-align: center;
}

.float-right {
    float: right;
}

.navigation .navigation-item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 4rem;
    position: relative;
}

.navigation-item:last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

.small-icon {
    height: auto;
    width: 30px;
    margin-right: 1rem;
}

.input-icon {
     height: auto;
    width: 30px;
    margin-top: 3px;
}   

.prefix {
  margin-right: -10px;
  position: absolute;
}